.number {
  font-size: 4.8rem;
  margin: 1.6rem;
}
.description {
  font-size: 2.4rem;
  color: rgba(74, 140, 171, 0.597);
  font-weight: bold;
  margin: 0;
}
.card {
  background-color: #cfedfb;
  text-align: center;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 1rem 2.4rem;
}
