.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
  margin: 0 auto;
  width: 90%;
  justify-items: center;
}

.color {
  padding: 12rem 0;
  background-color: #e7f6fd;
}

/* @media (max-width: 59em) {
  .features {
    grid-template-columns: repeat(3, 1fr);
  }
} */
@media (max-width: 44em) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 34em) {
  .features {
    /* padding: 0 3.6rem; */
    grid-template-columns: repeat(1, 1fr);
  }
}
